In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import h5py
import scipy

In [0]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/00279/SUSY.csv.gz'

In [0]:
coloumn_names=['Class_Label','lepton 1PT','lepton 1 eta','lepton 1 phi','lepton 2PT','lepton 2 eta',
              'lepton 2 phi','missing energy magnitude','missing energy phi','MET_rel','axial_MET','M_R','M_TR_2',
              'MT2','S_R','M_Delta','dphi_r_b','cos(theta_r1)']

In [0]:
PM_DF=pd.read_csv(url,header=None,index_col=False,names=coloumn_names)

In [0]:
PM_DF.head()

   Class_Label  lepton 1PT  lepton 1 eta  ...   M_Delta  dphi_r_b  cos(theta_r1)
0          0.0    0.972861      0.653855  ...  1.932632  0.994464       1.367815
1          1.0    1.667973      0.064191  ...  0.448410  0.205356       1.321893
2          1.0    0.444840     -0.134298  ...  0.603498  1.562374       1.135454
3          1.0    0.381256     -0.976145  ...  0.761215  1.715464       1.492257
4          1.0    1.309996     -0.690089  ...  1.083158  0.043429       1.154854

[5 rows x 18 columns]

In [0]:
Features=PM_DF.drop('Class_Label',axis=1)

In [0]:
Features.head()

   lepton 1PT  lepton 1 eta  lepton 1 phi  ...   M_Delta  dphi_r_b  cos(theta_r1)
0    0.972861      0.653855      1.176225  ...  1.932632  0.994464       1.367815
1    1.667973      0.064191     -1.225171  ...  0.448410  0.205356       1.321893
2    0.444840     -0.134298     -0.709972  ...  0.603498  1.562374       1.135454
3    0.381256     -0.976145      0.693152  ...  0.761215  1.715464       1.492257
4    1.309996     -0.690089     -0.676259  ...  1.083158  0.043429       1.154854

[5 rows x 17 columns]

In [0]:
Labels=PM_DF['Class_Label']

In [0]:
print(Features.shape , Labels.shape)

(5000000, 17) (5000000,)

In [0]:
 
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_validate
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, make_scorer

In [0]:
from sklearn.ensemble import  BaggingClassifier

In [0]:
print(BaggingClassifier())

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=10,
                  n_jobs=None, oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(Features,Labels,test_size=0.333,random_state=1,shuffle=True)

In [0]:
B_DT=BaggingClassifier()